* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
    color: #FFF;
}

body {
    width: calc(100vw - 17px);
    min-width: 320px;
    font-family: 'Open Sans', sans-serif;
}

header {
    width: calc(100vw - 17px);
    height: 60px;
    background: #000;
    padding: 20px 12vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.header__logo {
    text-transform: uppercase;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}

.container__menu {
    list-style: none;
    display: flex;
}

.menu {
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 8px;
    margin: 0px 18px;
    border-bottom: 3px solid #000;
    transition: 500ms;
}

.icon {
    cursor: pointer;
    display: none;
    color: #FFF;
    margin-top: 12px;
    font-size: 20px;
    padding-bottom: 8px;
    border-bottom: 3px solid #000;
    transition: 500ms;
}

.menu:hover, .icon:hover {
    border-bottom: 3px solid #fcac45;
    transition: 500ms;
}

.container__home {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding: 0 50px;
    background-color: #000;
}

.home__words {
    text-transform: uppercase; 
    color: #999;
    font-size: 32px;
    font-weight: 200;
    margin-bottom: 0;
}

.home__words_orange {
    color: orange;
    font-weight: 800;
}

.home__words_low {
    color: #999;
    font-size: 16px;
    margin-top: 0;
}

.container__about {
    min-height: 100vh;
    margin-top: 60px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.about__left {
    max-width: 365px;
    height: auto;
    margin-right: 10vw;
}

.about__right {
    max-width: 365px;
    height: auto;
}

.about__right h2 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 4px solid #fcac45;
}

.about__right h2 span {
    font-weight: 800;
}

.about__right p {
    margin: 30px 0;
    font-size: 16px;
    text-align: justify;
    color: #6c6c6c;
}

.about__right ul {
    list-style: none;
    position: relative;
}

.about__right li::before {
    content: url(../img/marker.png);
    position: relative;
    top: 1px;
}

.about__right li, 
.services__text,
.portfolio__text,
.contact__text {
    font-family: 'Semibold';
    font-style: italic;
    font-weight: 600;
    line-height: 1.5em;
    padding: 3px 0;
    color: #6c6c6c;
}

.about__right ul span {
    font-family: 'Open Sans';
    color: #000;
    font-weight: 600;
    font-style: normal;
}

.about__right ul span::before {
    content: "";
    padding-left: 10px;
}

.container__our_team {
    min-height: 100vh;
    padding: 0 50px;
    background: #000;
}

.container__our_team h2, 
.container__services h2,
.container__clients h2,
.container__portfolio h2,
.container__testimonials h2,
.container__contact h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 600;
    padding-top: 100px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.line_text {
    width: 100px;
    height: 3px;
    margin: 0 auto;
    background: #fcac45;
}

.team__cards,
.services__cards {
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 80px 0px;
    max-width: 1297px;
    margin: auto;
}

.card__person,
.card__service {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 230px;
    max-width: 270px;
    padding: 20px 10px;
    border-radius: 10px;
    transition: 500ms;
}

.card__person {
    margin: 25px;
}

.card__person:hover {
    z-index: 2;
    transform: scale(1.05);
    box-shadow: 0 0 15px 5px #C0C0C0;
    transition: 500ms;
}

.photo {
    background: #d7d7d7;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
}
.photo img {
    height: 130px;
}

.name {
    font-size: 1.2em;
    font-weight: 600;
    padding: 24px 0 4px 0;
    transition: 500ms;
}

.name a {
    transition: 500ms;
}

.name a:hover {
    color: #fcac45;
    transition: 500ms;
}

.position {
    font-size: 14px;
}

.about__position,
.about__service {
    padding-top: 25px;
    font-size: 0.8em;
    text-align: justify;
}

.container__services {
    min-height: 100vh;
    padding: 0 50px;
}

.container__services h2 {
    color: #000;
}

.services__text,
.portfolio__text,
.contact__text {
    max-width: 1230px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: justify;
}

.services__cards {
    color: #000;
}

.circle__orange {
    width: 114px;
    height: 114px;
    border-radius: 50%;
    border: 6px solid #fcac45;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}


.circle__orange:hover {
    border: 6px solid #000;
    border-radius: 30%;
    transition: 500ms;
}

.card__service h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.about__service {
    padding-top: 10px;
}

.container__clients {
    min-height: 100vh;
    background: #000;
    text-align: center;
    padding: 0 50px;
    padding-bottom: 25px;
}

.container__clients span,
.container__portfolio span,
.container__testimonials span {
    font-weight: 200;
}

.clients__logos {
    margin-top: 75px;
}

.container__clients img {
    display: inline-block;
    margin: 26px;
    padding: 15px;
    border-radius: 15px;
    transform: scale(1.0);
    transition: 500ms;
}

.container__clients img:hover {
    transform: scale(1.1);
    box-shadow: 0 15px 15px -10px #fff;
    transition: 500ms;
}

.container__portfolio {
    min-height: 100vh;
    padding: 0 50px;
}

.container__portfolio h2 {
    color: #000;
}

.portfolio__grid {
    box-sizing: content-box;
    max-width: 1142px;
    margin: 90px auto;
    padding: 0;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    justify-items: space-between;
    grid-gap: 30px;
}

.portfolio__grid img {
    width: 263px;
    margin: 0;
}

.container__testimonials {
    min-height: 100vh;
    background: #000;
    color: #FFF;
    padding: 0 50px;
    padding-bottom: 50px;
}

.testi__text {
    text-transform: uppercase;
    text-align: center;
    max-width: 932px;
    margin: 0 auto;
    margin-top: 120px;
}

.container__testimonials cite {
    display: block;
    max-width: 932px;
    margin: 55px auto;
    text-align: center;
    color: #b2b2b2;
    font-style: normal;
}

.container__contact {
    min-height: 100vh;
    background: #fff;
    padding: 0 50px;
}

.container__contact h2 {
    color: #000;
}

.contact__text {
    max-width: 752px;
}

.form__wrapper {
    max-width: 752px;
    margin: 40px auto;
    display: grid;
    grid-template-areas: "name email"
                         "message message"
                         "button button"
}

.wrapper__name {
    grid-area: name;
    margin-top: 20px;
    margin-right: 28px;
}

#name,
#email {
    width: 362px;
    height: 42px;
    border-radius: 6px;
    border: 1px solid #000;
    padding: 10px;
    font-size: 16px;
}

.wrapper__email {
    grid-area: email;
    margin-top: 20px;
}

.wrapper__message {
    grid-area: message;
    margin-top: 20px;
}

#message {
    resize: none;
    width: 752px;
    height: 165px;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px;
}

.wrapper__button {
    grid-area: button;
}

.form__wrapper label {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 5px 0;
}

.form__wrapper span {
    color: red;
    font-size: 16px;
}

.form__wrapper button {
    width: 166px;
    height: 40px;
    background: #fcac45;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 0px;
    border-radius: 6px;
    margin-top: 20px;
    float: right;
}

.form__wrapper button:active {
    border: 1px solid #000;
}

.container__footer {
    width: calc(100vw - 17px);
    height: 92px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
}

.container__footer li {
    list-style: none;
    display: inline-block;
    margin: 0 7px;
}

.container__footer img {
    box-shadow: 0px 0px 5px 5px #222;
    border-radius: 50%;
    transition: 500ms;
}

.container__footer img:hover {
    box-shadow: 0px 0px 5px 5px #6c6c6c;
    transition: 500ms;
}

@media (max-width: 1258px) {
    .portfolio__grid {
        max-width: 849px;
        grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    }
    .grid__col4 {display: none;}
}

@media (max-width: 1080px) {
    .container__about {
        flex-direction: column;
    }
    .about__left {
        margin: 60px auto;
    }
}

/*Адаптивное меню*/
@media (max-width: 1050px) {
    .container__menu {
        display: none;
    }

    .responsive_menu {
        display: block;
        position: absolute;
        background: #000;
        width: 100%;
        top: 60px;
        left: 0px;
        box-sizing: border-box;
        border-top: 3px solid #fcac45;
    }

    .menu {
        display: block;
        margin: 16px 12vw;
    }

    .icon {
        display: block;
        position: absolute;
        right: 5vw;
    }
}

/*Две колонки в OUR WORK*/
@media (max-width: 966px) {
    .portfolio__grid {
        max-width: 556px;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
    }
    .grid__col3 {display: none;}
}


/*Адаптивка раздела Contact US*/
@media  (max-width: 869px) {
    .form__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wrapper__name {
        margin-right: 0;
    }

    #message {
        width: 362px;
        min-height: 165px;
        resize: vertical;
    }
}

/*Одна колонка в OUR WORK*/
@media (max-width: 673px) {
    .portfolio__grid {
        max-width: 556px;
        grid-template: 1fr 1fr 1fr / 1fr;
        justify-items: center;
    }
    .grid__col2 {display: none;}
    .about__left {display: none;}
}

@media screen and (max-width: 536px) {
    .container__portfolio h2 {
        max-width: 300px;
    }
}

@media screen and (max-width: 375px) {
    header,
    main,
    .container__footer {
        width: 100vw;
    }

    #name,
    #email,
    #message {
        max-width: 300px;
    }

    *, span, h1, h2 {
        font-size: 1.2rem;
    }
}

@media screen {
    * {
        padding: auto 0;
        margin: auto 0;
    }
}